table tr td.compost-status-0,
.compost-status-0 {
  background-color: #0a0;
  color: #fff;
}

table tr td.compost-status-10,
.compost-status-10 {
  background-color: #fe0;
  color: #000;
}

table tr td.compost-status-20,
.compost-status-20 {
  background-color: #c00;
  color: #fff;
}

span.compost-status {
  padding: 0 0.3em;
}

.view-compost-dashboard tr.compost-status-0 {
  background-color: #f8fff0;
  color: #234600;
}

.view-compost-dashboard tr.compost-status-10 {
  background-color: #fffce5;
  color: #840;
}

.view-compost-dashboard tr.compost-status-20 {
  background-color: #fef5f1;
  color: #8c2e0b;
}

.view-compost-dashboard td.compost-site-status {
  width: 80%;
}

.view-compost-dashboard td.compost-site-status .compost-logo {
  margin: 0 0.5em 0 0;
  float: left;
  min-height: 60px;
}

.view-compost-dashboard td.compost-site-status .compost-title {
  font-size: large;
}

.view-compost-dashboard td.compost-site-status .compost-alert-info {
  margin-left: 95px;
}

.view-compost-dashboard td.views-field-status {
  font-size: large;
  text-transform: uppercase;
  padding-left: 50px;
  background-position: 20px center;
  background-repeat: no-repeat;
}

.view-compost-dashboard td.views-field-status.compost-status-0 {
  background-image: url("/misc/message-24-ok.png");
}

.view-compost-dashboard td.views-field-status.compost-status-10 {
  background-image: url("/misc/message-24-warning.png");
}

.view-compost-dashboard td.views-field-status.compost-status-20 {
  background-image: url("/misc/message-24-error.png");
}

.view-compost-variables.view-display-id-page .views-table td {
  width: 50%;
}

.view-compost-site-status.view-display-id-block .views-field-status {
  text-align: center;
}

.view-compost-site-status.view-display-id-block .views-field-status .field-content {
  display: inline-block;
  margin: 0.5em auto;
  font-size: large;
  padding: 0.3em 10px 0.3em 30px;
  text-align: center;
  text-transform: uppercase;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.view-compost-site-status.view-display-id-block .views-field-status .compost-status-0 {
  background-image: url("/misc/message-16-ok.png");
}

.view-compost-site-status.view-display-id-block .views-field-status .compost-status-10 {
  background-image: url("/misc/message-16-warning.png");
}

.view-compost-site-status.view-display-id-block .views-field-status .compost-status-20 {
  background-image: url("/misc/message-16-error.png");
}

.view-compost-site-status.view-display-id-block .views-field-overriden .field-content {
  display: block;
  width: 70%;
  margin: 0 auto 0.7em;
  font-weight: bold;
  text-align: center;
}

.view-compost-commands .view-content table td.views-field-name .compost-command-name,
.view-compost-alerts .view-content table td.views-field-name .compost-alert-name {
  font-size: 110%;
  font-weight: bold;
}

.compost-key,
.compost-id {
  font-family: monospace;
}

/*
  Hide fields containing sensitive data by default if Javascript is
  enabled
*/
html.js input#edit-compost-key-und-0-value,
html.js input#edit-compost-key {
  display: none;
}
